@import "tailwindcss";
body { font-family: 'Segoe UI', system-ui, sans-serif; background: #0a0a0f; color: #e2e8f0; }

#nprogress .bar {
  background: #ff0055 !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px #ff0055, 0 0 5px #ff0055 !important;
}